.search {
  border-radius: 20px;
  width: 90%;
  height: 48px;
  background-color: white;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 90% 10%;
  padding: 3px 20px;
}

.search input {
  width: 100%;
  font-size: 0.5em;
  font-weight: bold;
  outline: none;
  border: none;
  background-color: none;
}

.search button {
  width: 100%;
  background-color: white;
  font-size: 0.7em;
  font-weight: bold;
  outline: none;
  border: none;
}

.stitle {
  margin: 10px 0 20px 0;
}

@media screen and (max-width: 840px) {
  /* .search input {
    width: 70%;
  } */
}
